/* *-------Google Fonts ----------- */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* *------- Global Styles  ----------- */
:root {
  --main-color: #e43c5c;
  --second-clr: #493c3e;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #493c3e;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 15px;
}
::selection {
  background-color: var(--main-color);
  color: #fff;
}
.mainColor {
  color: var(--main-color);
}
.bg-mainColor {
  background-color: var(--main-color);
}
.second-clr {
  color: var(--second-clr);
}
.w-fit {
  width: fit-content;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}
a,
input {
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  display: block;
}
html {
  scroll-padding-top: 65px;
}
.btn {
  --bs-btn-padding-x: 2.5rem;
  --bs-btn-padding-y: 0.625rem;
  border-radius: 3.125rem;
}

.btn-main {
  --bs-btn-color: #fff;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--main-color);
  --bs-btn-hover-border-color: var(--main-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--main-color);
  --bs-btn-active-border-color: var(--main-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--main-color);
  --bs-btn-disabled-border-color: var(--main-color);
}
.btn-main-outline {
  --bs-btn-color: var(--main-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--main-color);
  --bs-btn-hover-border-color: var(--main-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--main-color);
  --bs-btn-active-border-color: var(--main-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--main-color);
  --bs-btn-disabled-border-color: var(--main-color);
}
.title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #fcebee;
  color: var(--main-color);
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  margin-bottom: 20px;
}
.title p {
  color: #493c3e;
  /* margin: 10px 0 0 0; */
  font-size: 32px;
  font-weight: 700;
}
.text-lightGrey {
  color: #211e1e79;
}
/* *------- NAVBAR-------- */
.navbar {
  background-color: #000;
}
.navbar .nav-link {
  color: #fff;
  position: relative;
  margin-inline: 10px;
}
.navbar .nav-link:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: 80%;
  background-color: var(--main-color);
  width: 0;
  height: 3px;
  transition: color 0.3s, width 0.3s;
}
.navbar .nav-link:hover,
.nav-link:focus {
  color: var(--main-color);
}
.navbar .nav-link:hover::after {
  width: 90%;
}
.navbar .navbar-nav .nav-link.active {
  color: var(--main-color);
  font-weight: bolder;
}
.navbar-nav .nav-link.active::after {
  width: 90%;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.306) !important;
  transition: background-color 0.3s ease;
}
/* *------- Home-------- */

.home {
  padding-top: 65px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.619),
      rgba(0, 0, 0, 0.667)
    ),
    url("../images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home h1 {
  font-size: 3rem;
}
/* *------- About-------- */
.about .son .special {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 20px;
}
.about .son .special h4 {
  transition: 0.3s color;
}
.about .son .special:hover h4 {
  color: var(--main-color);
}
/* *------- SERVICES-------- */
.services .service .serviceInner {
  background-color: white;
  padding: 20px;
  min-height: 251px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.services .serviceInner * {
  position: relative;
  z-index: 1;
  transition: color 0.3s;
}
.services .serviceInner::after {
  content: "";
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  transition: 0.4s top;
  z-index: 0;
}
.services .serviceInner:hover::after {
  top: 0;
}
.services .serviceInner:hover * {
  color: #fff;
}
/* *-----CallTOAction------- */
.call {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.619),
      rgba(0, 0, 0, 0.667)
    ),
    url("../images/call.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* *-----Portfolio------- */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--main-color);
  border-radius: 100vh;
}
.portfolio .nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #000;
  margin-inline: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, border-radius 0.15s ease-in-out;
}
.portfolio .nav-link:hover {
  color: #fff;
  background-color: var(--main-color);
  border-radius: 100vh;
}
.portfolio .item {
  position: relative;
  overflow: hidden;
}
.portfolio .item .layer {
  background-color: rgba(255, 255, 255, 0.498);
  position: absolute;
  left: 10px;
  bottom: -89px;
  right: 10px;
  transition: bottom 0.4s;
}
.portfolio .item img {
  height: 230px;
  object-fit: cover;
}
.portfolio .item:hover .layer {
  bottom: 0;
}
/* *-----Frequently------- */

.accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--main-color);
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: #fcebee;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem transparent;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: var(--bs-primary-text-emphasis);
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}
.accordion-button:not(.collapsed) {
  color: #e43c5c !important;
  background-color: #fef9fa;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.accordion-button.collapsed {
  border-top: 1px solid var(--main-color);
  transition: color 0.4s;
}
.accordion-button.collapsed:hover {
  border-top: 1px solid var(--main-color);
  color: var(--main-color);
}
.accordion-item:last-of-type .accordion-button.collapsed {
  transition: color 0.4s;
}
.accordion-item:last-of-type .accordion-button.collapsed:hover {
  color: var(--main-color);
}
.accordion {
  --bs-accordion-btn-icon-width: 1rem;
}
.accordion-button::after {
  width: var(--bs-accordion-btn-icon-width);
}
.accordion-button:not(.collapsed) {
  border-top: 1px solid var(--main-color);
  color: var(--bs-accordion-active-color);
  background-color: #fef9fa;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.accordion-body {
  background-color: #fef9fa;
}
.accordion-item {
  margin-bottom: 1.25rem;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-top: 1px solid var(--main-color);
}
.accordion-item:first-of-type .accordion-button {
  border-top: 1px solid transparent;
  transition: color 0.4s;
}
.accordion-item:first-of-type .accordion-button:hover {
  color: var(--main-color);
}
/* *-----TEAM------- */
.team .teamItem {
  position: relative;
  overflow: hidden;
}
.team .teamItem .layer {
  background-color: rgba(0, 0, 0, 0.457);
  position: absolute;
  left: 10px;
  top: 100%;
  transition: 0.4s top;
  width: 95%;
  height: 100%;
}
.team .teamItem:hover .layer {
  top: 0;
}
.team .teamItem i {
  transition: 0.4s color;
  font-size: 1.0625rem;
}
.team .teamItem i:hover {
  color: var(--main-color);
  cursor: pointer;
}
/* *-----CONTACT------- */
.contact .dataa .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
}
.form-control:focus {
  border-color: var(--main-color);
  outline: 0;
  box-shadow: none;
}
